selenium
webdriver-manager
numpy
torch
pytorch_msssim
pytorch_fid
datasets
torchmetrics
git+https://github.com/huggingface/diffusers
transformers
pandas
tqdm
accelerate
torchvision
torch-fidelity
pillow
matplotlib
wandb
safetensors
git+https://github.com/cloneofsimo/lora.git